<!DOCTYPE html>
<html>
<head>
    <title>Tomato Leaf Diseases Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="page-header">
        <h1>Tomato Leaf Diseases Detector</h1>
     </header>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" class="form-group">
            <label for="image">Choose an Image:</label>
            <input type="file" name="image" id="image" required>
            <button type="submit" class="form-group button">Predict</button>
        </form>
        <h2>{{prediction}}</h2>
        {% if image_path %}
        <img src="{{ url_for('static', filename='uploads/' + image_path.split('/')[-1]) }}" alt="Uploaded Image" class="form-group">
        {% endif %}
    </div>
    <footer class="page-footer">
        <div class="container">
          <p>&copy; 2024 Tomato Leaf Diseases Detector. CV project 2 All rights reserved.</p>
        </div>
    </footer>
</body>
</html>